<a href="https://colab.research.google.com/github/Pradeep-Panchariya/scikit_learn/blob/main/maching_learning_experiement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
#Preparing the machine learning model
#Data : car_sales
#Predict : Predict the car price based on the features

In [80]:
import numpy as np
import pandas as pd

In [81]:
#read the csv file
car_sales = pd.read_csv('car-sales-extended-missing-data.csv')

In [82]:
#view the first 5 rows
car_sales.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [83]:
#check the all column name
car_sales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [84]:
#know the data type of all the column
car_sales.dtypes

Make              object
Colour            object
Odometer (KM)    float64
Doors            float64
Price            float64
dtype: object

In [85]:
#get the shape (row,col)
car_sales.shape

(1000, 5)

In [86]:
#get the description
car_sales.describe()

       Odometer (KM)       Doors         Price
count     950.000000  950.000000    950.000000
mean   131253.237895    4.011579  16042.814737
std     69094.857187    0.382539   8581.695036
min     10148.000000    3.000000   2796.000000
25%     70391.250000    4.000000   9529.250000
50%    131821.000000    4.000000  14297.000000
75%    192668.500000    4.000000  20806.250000
max    249860.000000    5.000000  52458.000000

In [87]:
car_sales.describe(include='all')

          Make Colour  Odometer (KM)       Doors         Price
count      951    950     950.000000  950.000000    950.000000
unique       4      5            NaN         NaN           NaN
top     Toyota  White            NaN         NaN           NaN
freq       379    390            NaN         NaN           NaN
mean       NaN    NaN  131253.237895    4.011579  16042.814737
std        NaN    NaN   69094.857187    0.382539   8581.695036
min        NaN    NaN   10148.000000    3.000000   2796.000000
25%        NaN    NaN   70391.250000    4.000000   9529.250000
50%        NaN    NaN  131821.000000    4.000000  14297.000000
75%        NaN    NaN  192668.500000    4.000000  20806.250000
max        NaN    NaN  249860.000000    5.000000  52458.000000

In [88]:
#get the null value 
car_sales.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [89]:
#importing sklearn all the libraries
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import  train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline

In [120]:
#let's try to train and test our model
def train_model(car_sales):
    #before training the model we have to convert object type column into numberic using columntransformer and remove all the missing values
   
    obj = ['Make','Colour']
    obj_transformer = Pipeline(steps= [
                                       ('obj',SimpleImputer(strategy='constant',fill_value='missing')),
                                       ('obj_trans', OneHotEncoder(handle_unknown='ignore'))
                                ])
    obj1 = ['Odometer (KM)']
    obj1_transformer = Pipeline(steps = [
                                         ('obj1', SimpleImputer(strategy='median')),
                                         ('obj1_trans',OneHotEncoder(handle_unknown='ignore'))
    ])
    obj2 = ['Doors']
    obj2_transformer = Pipeline(steps=[
                                       ("obj2",SimpleImputer(strategy='most_frequent')),
                                       ('obj2_trans',OneHotEncoder(handle_unknown='ignore'))
    ])

    col_transformer = ColumnTransformer(transformers=[
                                                      ('o1',obj_transformer,obj),
                                                      ('o2',obj1_transformer,obj1),
                                                      ('o3',obj2_transformer,obj2)
    ])
   
    pipeLine = Pipeline(steps=[
                               ('transformer',col_transformer),
           
                               ('model',RandomForestRegressor())
    ])
    car_sales = car_sales.dropna(subset=['Price'])#remove the missing value from target variable
    X = car_sales.drop('Price', axis =1 )
    y = car_sales.Price
    train_X, test_X, train_y, test_y = train_test_split(X, y, test_size = 0.2, random_state = 42)
    pipeLine.fit(train_X, train_y)
    y_preds = pipeLine.predict(test_X)
    return test_y, y_preds

In [125]:

y_true, y_pred = train_model(car_sales)
mean_absolute_error(y_true,y_pred)
r2_score(y_true, y_pred)
# train_X, train_y, test_X, test_y = train_test_split(X, y, test_size = 0.2, random_state = 42)
# # rfc.fit(train_X, train_y)
# pipeLine.fit(train_X,train_y)

-0.054776906712903806